<mat-card>
  <mat-card-header>
    <div class="titles-article">
      <mat-card-title><a href="{{article.link}}" (click)="ClickArticle(article.id)" target="_blank">{{article.title}}</a></mat-card-title>
      <mat-card-subtitle>{{article.source}} {{article.date}}</mat-card-subtitle>
    </div>
    <div class="div-img-article">
        <img src="{{article.img}}" />
    </div>
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
